$color-black: #000000;
$color-dark-gray: #141a1f;
$color-gray: #34455b;
$color-light-gray: #bcccdc;
$color-white: #ffffff;

$polywallet-modal-content-width: 270px;
$polywallet-modal-content-large-width: 310px;
$polywallet-modal-content-padding: 25px;
$polywallet-modal-content-large-padding: 30px;
$polywallet-modal-content-border-radius: 20px;

$polywallet-modal-content-title-font-size: 21px;

$polywallet-modal-content-button-width: 240px;
$polywallet-modal-content-button-small-width: 114px;
$polywallet-modal-content-button-font-size: 12px;
$polywallet-modal-content-button-border-radius: 5px;
$polywallet-modal-content-button-margin-y: 5px;
$polywallet-modal-content-button-large-margin-y: 7.5px;

$polywallet-modal-content-footer-font-size: 12px;

$polywallet-modal-close-icon-size: 30px;
$polywallet-modal-close-icon-offset: 20px;
