$color-hand-cash-start: #38cb7c;
$color-hand-cash-end: #1cb462;
$color-hand-cash-hover-start: #31c475;
$color-hand-cash-hover-end: #16b15d;
$color-light-gray: #bcccdc;
$color-money-button-start: #4772f5;
$color-money-button-end: #416ef7;
$color-money-button-hover-start: #426ff5;
$color-money-button-hover-end: #3767f8;
$color-relay-x-button-start: #2d39c3;
$color-relay-x-button-end: #2832c0;
$color-relay-x-button-hover-start: #1f2cc6;
$color-relay-x-button-hover-end: #212bbe;
$color-white: #ffffff;

$scrollbar-width: 17px;

$modal-z-index: 1060;

$modal-content-width: 260px;
$modal-content-padding: 50px;
$modal-content-border-radius: 20px;

$modal-content-title-font-size: 24px;

$modal-content-button-font-size: 13px;
$modal-content-button-border-radius: 5px;
$modal-content-button-margin: 5px;

$modal-close-icon-size: 35px;
$modal-close-icon-offset: 20px;
